body{
      background-color: #eeeee4;
    }

.container
    {
      border-style: solid;
      border-color: #14366E;
      border-radius: 5px;
      margin-top: 2vw;
      margin-bottom: 2vw;
    }

h1  {
      font-family: 'Anton', sans-serif;
      font-weight: bold;
      color:  #14366E;
      letter-spacing: 4px;
    }

hr  {
      background-color: red;
      border: 3px solid red;
      margin-top: 0px;
      border-radius: 5px;
      padding: 0;

    }



#circle
    {
       width: 40px;
       height: 40px;
       -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
       border-radius: 25px;
       border: 3px solid yellow;
       margin-left: 20%;
       margin-top: -10%;
       background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    }




#pageNavigation
    {
      margin: 2vw 5vw;
    }
#contentMainRow
    {
      margin-top: 2vw;

    }
#mainContainer
    {
      margin-bottom: 2vw;
      margin-bottom: 5vw;
      border-style: none;
    }
